* {
    font-family: var(--font-dm-sans);
}

body {
    background: #000;
    color: #fff;
    font-family: var(--font-dm-sans);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 8px;
    padding-bottom: 17.3rem;
    width: 300px;
}

/* NAVIGATION (SIDEBAR) */

.sidebar__navigation {
    background: #121212;
    border-radius: 8px;
    margin-bottom: 8px;
}

.sidebar__navigation .logo {
    display: flex;
    background: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 6em;
    height: auto;
}

.sidebar nav ul {
    margin-top: 10px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    align-items: center;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    display: block;
    width: inherit;
    padding: 13px 0;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.sidebar nav ul li a:hover {
    color: #fff;
}

.sidebar nav ul li a .fa {
    font-size: 20px;
    margin-right: 10px;
}

/* LIBRARY (SIDEBAR) */

.library {
    display: flex;
    height: 100%;
    background: #121212;
    color: #b3b3b3;
    border-radius: 8px;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 8px;
    flex-direction: column;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    color: #b3b3b3;
    background-color: transparent;
    padding: 20px 13px;
    margin-right: 10px;
    border: 0;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
}

.library .library__button:hover {
    color: #fff;
}

.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    padding: 20px;
    border-radius: 8px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    color: #fff;
    padding-bottom: 14px;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 6px;
    border: 0px;
    border-radius: 20px;
    width: 113px;
    justify-content: center;
    cursor: pointer;
}

.section-playlist__content .section-playlist__button:hover {
    background-color: #e5e5e5;
    transform: scale(1.05);
}

/* EXTRA (LIBRARY < SIDEBAR) */

.extra {
    position: absolute;
    bottom: 0;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 6rem;
}

.sidebar .misc {
    background-color: #121212;
    padding: 8px 4px;
}

.sidebar .misc a {
    display: inline-block;
    padding: 0.4rem 0.6rem;
    color: #b3b3b3;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.sidebar .misc a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: 1px solid #878787;
    border-radius: 20px;
    align-items: center;
    width: 170px;
    margin: 10px;
    padding: 8px;
    cursor: pointer;
}

.languages .languages__button:hover {
    border-color: #fff;    
    transform: scale(1.05);
}

/* DISCLAIMER (FOOTER) */

.disclaimer {
    display: flex;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.disclaimer .text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.disclaimer .disclaimer__title {
    font-weight: 600;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.disclaimer .disclaimer__subtitle {
    font-weight: 500;
}

.disclaimer__button {
    display: flex;
    color: #000;
    background-color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    justify-content: center;
    cursor: pointer;
}

.disclaimer__button:hover {
    background-color: #e5e5e5;
    transform: scale(1.05);
}